@import "../../Sass/Variables";

.c-card {
  width: 33%;
  height: 40rem;
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: $g-2;

  padding: $g-5 2 * $g-5;
  background-color: $c-bg;
  border-radius: $bg-r-big;
  margin: 0 auto;

  transition: 1s transform;
  backface-visibility: hidden;

  // &__img {
  // }

  // &__title {
  // }

  // &__description {
  // }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    gap: $g-1;

    margin-top: auto;
  }

  &__tech {
    // flex-basis: 25%;
    padding: $g-0 $g-1;

    background-color: $c-bg-light;
    border: 1px solid $c-secondary;
    border-radius: $bg-r-big;

    text-align: center;
    color: $c-secondary;
    font-size: $fs-small;
  }

  &[position="-3"] {
    z-index: 0;
    opacity: 0.1;

    right: 50%;
    transform: translate(-75%, 0) scale(0.2);
  }

  &[position="-2"] {
    z-index: 1;
    opacity: 0.4;

    right: 50%;
    transform: translate(-50%, 0) scale(0.6);
  }
  &[position="-1"] {
    z-index: 2;
    opacity: 0.8;

    right: 50%;
    transform: translate(0, 0) scale(0.8);
  }
  &[position="0"] {
    z-index: 3;
    // opacity: 0.8;

    right: 50%;
    transform: translate(50%, 0) scale(1);
  }
  &[position="1"] {
    z-index: 2;
    opacity: 0.8;

    right: 50%;
    transform: translate(100%, 0) scale(0.8);
  }
  &[position="2"] {
    z-index: 1;
    opacity: 0.4;

    right: 50%;
    transform: translate(150%, 0) scale(0.6);
  }
  &[position="3"] {
    z-index: 0;
    opacity: 0.1;

    right: 50%;
    transform: translate(175%, 0) scale(0.2);
  }

  // &--central {
  //   z-index: 2;

  //   // left: 50%;
  //   right: 50%;
  //   transform: translate(50%, 0);
  // }

  // &--left {
  //   z-index: 0;

  //   // background-color: lighten($c-bg, 20%);
  //   opacity: 0.8;
  //   // top: 50%;
  //   right: 50%;
  //   transform: translate(0, 0) scale(0.8);
  // }

  // &--left[position="2"] {
  // }

  // &--right {
  //   z-index: 0;

  //   // background-color: lighten($c-bg, 20%);
  //   opacity: 0.8;

  //   // top: 50%;
  //   right: 50%;
  //   transform: translate(100%, 0) scale(0.8);
  // }

  // &--right[position="-2"] {
  //   opacity: 0.6;

  //   right: 50%;
  //   transform: translate(150%, 0) scale(0.6);
  // }
}
