@import "../../../Sass/Variables";

.nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: $g-3 $g-10;
  height: 10vh;
  background-color: $c-bg;

  color: $fc-light;

  position: absolute;

  // img {
  // }

  // nav {
  // }

  ul {
    display: flex;
    justify-content: space-around;
    gap: $g-2;
  }
}
