@import "../../../Sass/Variables";

.nav {
  display: flex;
  justify-content: space-between;

  padding: 3rem 6rem;
  background-color: $c-bg;

  color: $fc-light;

  // img {
  // }

  // nav {
  // }

  ul {
    display: flex;
    justify-content: space-around;
    gap: $g-2;
  }
}
